body {
  margin: 0;
  padding: 5%;
  background-size: cover;
  background-clip: border-box;
  background-image: url("../img/Home_Background_Img.PNG");
  background-position: center;
  overflow: hidden;
  backdrop-filter: blur(3px);
}
body #fullpage {
  width: 100%;
  height: 80vh;
  border: 1px solid black;
  background: rgba(16, 18, 27, 0.4);
}
body #fullpage .mainWrap {
  display: flex;
  max-width: 1672px;
  height: 100%;
}
body #fullpage .mainWrap .sideBarWrap {
  position: relative;
  display: block;
  text-align: center;
  width: 100px;
  height: 100%;
  transition: width 0.3s ease;
}
body #fullpage .mainWrap .sideBarWrap.open {
  width: 300px;
  transition: width 0.3s ease;
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border: 1px solid black;
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .home {
  margin: 10px 0 10px 0;
  border: 1px solid black;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .home .logo {
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-image: url(../img/Home_Profile.jpg);
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 10%;
  left: 99%;
  transform: translate(-50%, -50%);
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose span {
  display: block;
  background: black;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  transition: 0.25s margin 0.25s, transform 0.25s;
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose span:nth-child(1) {
  margin-bottom: 9px;
  transform: rotate(45deg);
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose span:nth-child(2) {
  transform: rotate(140deg);
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose.active span {
  transition: 0.25s margin, 0.25s transform 0.25s;
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose.active span:nth-child(1) {
  margin-bottom: 9px;
  transform: rotate(140deg);
}
body #fullpage .mainWrap .sideBarWrap .sideBarTop .menuOpenClose.active span:nth-child(2) {
  transform: rotate(45deg);
}
body #fullpage .mainWrap .sideBarWrap .sideBarCont {
  display: block;
  width: 100%;
  height: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
body #fullpage .mainWrap .sideBarWrap .sideBarCont .sidecont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid black;
}
body #fullpage .mainWrap .sideBarWrap .sideBarCont .sidecont .menu {
  color: white;
}
body #fullpage .mainWrap .ContentWrap {
  max-width: 1372px;
  width: 100%;
}
body #fullpage .mainWrap .ContentWrap .ContentTop {
  width: 100%;
  height: 10%;
}
body #fullpage .mainWrap .ContentWrap .ContentTop marquee {
  color: #f1f1f1;
  position: relative;
}
body #fullpage .mainWrap .ContentWrap .ContentTop .clock {
  position: absolute;
  font-size: 3rem;
  right: 10%;
  top: 15%;
  color: #f1f1f1;
}
body #fullpage .mainWrap .ContentWrap .ContentCont {
  width: 100%;
  height: 90%;
  border: 1px solid black;
  overflow-y: auto;
}
body #fullpage .mainWrap .ContentWrap .ContentCont .CardWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 3%;
}
body #fullpage .mainWrap .ContentWrap .ContentCont .CardWrap .Card {
  background-color: #f1f1f1;
  padding: 20px;
  height: 300px;
  border-radius: 10%;
}

/*# sourceMappingURL=App.css.map */
